/*
 * Nav-bar Style
 */

#nav-bar {
  background: $nav-bar;
  color: #e8fdff;
  height: 60px;
  left:   0;
  padding: 0 $space-desk;
  position: fixed;
  right:0;
  top: 0;
  z-index: 1000;
  @media (min-width: $desktop-breakpoint){
    height: 80px;
    padding: 0 $space-desk;
  }
}

#nav-bar .logo {
  float: left;
  height: 60px;
  width: 60px;
  @media (min-width: $desktop-breakpoint){
    height: 80px;
    width: 80px;
  }
}

#nav-bar .header {
  float: left;
  font-size: 185%;
  line-height: 60px;
  padding: 0 10px;
  @media (min-width: $desktop-breakpoint){
    font-size: 200%;
    line-height: 80px;
    padding: 0 10px;
  }
}
