/*
 * _new-tweet.scss partial
 */

#new-tweet {
  background: $bg-color;
  border-radius: $rad;
  border: 1px solid #cacaca;
  display: none;
  left: 0;
  margin: 4em $space-desk;
  position: relative;
  right: 0;
  top: 20px;

  @media (min-width: $desktop-breakpoint){
    margin: 4em $space-desk;
  }
}

#new-tweet form, #new-tweet h2 {
  margin: $rad 15px;
}

#new-tweet h2 {
  border-bottom: 2px solid $primary;
}

#new-tweet textarea {
  margin-bottom: 5px;
  padding: $rad;
  width: 100%;
}

#new-tweet input span {
  display: inline-block;
}
#new-tweet span {
  float: right;
}
