/*
 *  _tweets.scss partial
 */

/* TWEETS CONTAINER */
#tweets{
  left: 0;
  right: 0;
  display: inline-block;
  margin: $space-desk;
}

article.tweet {
  border-radius: .5em;
  border: 1px solid #cacaca;
  margin-bottom: 1em;

}

article.tweet:hover {
  border: 1px solid #919191;
}

/* TWEET HEADER */
article.tweet header {
  background: #f3f3f3;
  border-radius: .5em .5em 0 0;
  height: 66px;
  line-height: $space-desk;
  padding: 8px;
}
article.tweet:hover header {
  background: #eeeeee;
}
.avatar {
  border-radius: .5em;
  float: left;
  height: 50px;
  width: 50px;
}
.tweet h2 {
  color: #6a7d84;
  display: inline-block;
  margin: 0 0 0 .5em;
  padding-top: 10px;
}
.user-handle {
  color: #9f9f9f;
  float: right;
  font-size: .9em;
  line-height: 3em;
}
article.tweet:hover .user-handle {
  color: #7f7f7f;
}

/* TWEET BODY */
.tweet main {
  background-color: #ffffff;
  height: 100px;
}
.tweet main p {
  margin: 0;
  padding: 0 10px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* TWEET FOOTER */
article.tweet footer {
  background-color: #ffffff;
  border-radius: 0 0 .5em .5em;
  border-top: 1px solid #cacaca;
  font-size: .75em;
  line-height: 2em;
  padding-left: 10px;
}
article.tweet:hover footer {
  border-top: 1px solid #919191;
}
.tweet i {
  color: $i;
  float: right;
  line-height: $space-desk;
  margin-right: 5px;
  visibility: hidden;
}
.tweet:hover i {
  visibility: visible;
}
i:hover {
  color: $i-hover;
}