$roboto: 'Roboto Condensed', sans-serif;
$bg-color: #eee;
$primary: #244751;
$nav-bar: #00a087;
$i: #79c3b7;
$i-hover: #43a293;
$rad: 0.5em;
$space-desk: 2em;
$space-mobile: 1.5em;
$desktop-breakpoint: 768px;