/*!
 * Tweeter App | Feb. 2017 (LHL Project)
 * Adrian Diaz
 */
@import 'neat/neat';
@import 'bourbon/bourbon';
@import 'variables';


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */

body {
  background-color: $bg-color;
  color: $primary;
  font-family: $roboto;
  margin: 0;
  @media (min-width: $desktop-breakpoint){
    margin: 0;
  }

}

/*
 * Additional CSS can be defined below or in other CSS files, as per instructions
 */

.container {
  margin: 100px auto 0 auto;
  max-width: 450px;
  @media (min-width: $desktop-breakpoint){
    margin: 160px auto 0 auto;
  }
}

@import 'material-toast';
@import 'tweets';
@import 'nav-bar';
@import 'usr-nav';
@import 'nav-btns';
@import 'new-tweet';
@import 'login-view';

