/*!
 * Tweeter App | Feb. 2017 (LHL Project)
 * Adrian Diaz
 */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */
body {
  background-color: #eee;
  color: #244751;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
}

@media (min-width: 768px) {
  body {
    margin: 0;
  }
}

/*
 * Additional CSS can be defined below or in other CSS files, as per instructions
 */
.container {
  margin: 120px auto 0 auto;
  max-width: 450px;
}

/*
 * _material-toast.scss partial (excerpt from Materialize v0.98.0)
 * Copyright 2014-2015 Materialize
 * MIT License (https://raw.githubusercontent.com/Dogfalo/materialize/master/LICENSE)
 * Modified by Adrian Diaz to only display TOAST prompts
 */
#toast-container {
  display: block;
  position: fixed;
  z-index: 10000;
}

@media only screen and (max-width: 600px) {
  #toast-container {
    min-width: 100%;
    bottom: 0%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  #toast-container {
    left: 5%;
    bottom: 7%;
    max-width: 90%;
  }
}

@media only screen and (min-width: 993px) {
  #toast-container {
    top: 10%;
    right: 7%;
    max-width: 86%;
  }
}

.toast {
  border-radius: 2px;
  top: 35px;
  width: auto;
  clear: both;
  margin-top: 10px;
  position: relative;
  max-width: 100%;
  height: auto;
  min-height: 48px;
  line-height: 1.5em;
  word-break: break-all;
  background-color: tomato;
  padding: 10px 25px;
  font-size: 1.3em;
  font-weight: 300;
  color: #fff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.toast .btn, .toast .btn-large, .toast .btn-flat {
  margin: 0;
  margin-left: 3rem;
}

.toast.rounded {
  border-radius: 24px;
}

@media only screen and (max-width: 600px) {
  .toast {
    width: 100%;
    border-radius: 0;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  .toast {
    float: left;
  }
}

@media only screen and (min-width: 993px) {
  .toast {
    float: right;
  }
}

/*
 *  _tweets.scss partial
 */
/* TWEETS CONTAINER */
#tweets {
  left: 0;
  right: 0;
  display: inline-block;
  margin: 2em;
}

article.tweet {
  border-radius: .5em;
  border: 1px solid #cacaca;
  margin-bottom: 1em;
}

article.tweet:hover {
  border: 1px solid #919191;
}

/* TWEET HEADER */
article.tweet header {
  background: #f3f3f3;
  border-radius: .5em .5em 0 0;
  height: 66px;
  line-height: 2em;
  padding: 8px;
}

article.tweet:hover header {
  background: #eeeeee;
}

.avatar {
  border-radius: .5em;
  float: left;
  height: 50px;
  width: 50px;
}

.tweet h2 {
  color: #6a7d84;
  display: inline-block;
  margin: 0 0 0 .5em;
  padding-top: 10px;
}

.user-handle {
  color: #9f9f9f;
  float: right;
  font-size: .9em;
  line-height: 3em;
}

article.tweet:hover .user-handle {
  color: #7f7f7f;
}

/* TWEET BODY */
.tweet main {
  background-color: #ffffff;
  height: 100px;
}

.tweet main p {
  margin: 0;
  padding: 0 10px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* TWEET FOOTER */
article.tweet footer {
  background-color: #ffffff;
  border-radius: 0 0 .5em .5em;
  border-top: 1px solid #cacaca;
  font-size: .75em;
  line-height: 2em;
  padding-left: 10px;
}

article.tweet:hover footer {
  border-top: 1px solid #919191;
}

.tweet i {
  color: #79c3b7;
  float: right;
  line-height: 2em;
  margin-right: 5px;
  visibility: hidden;
}

.tweet:hover i {
  visibility: visible;
}

i:hover {
  color: #43a293;
}

/*
 * Nav-bar Style
 */
#nav-bar {
  background: #00a087;
  color: #e8fdff;
  height: 60px;
  left: 0;
  padding: 0 2em;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}

@media (min-width: 768px) {
  #nav-bar {
    height: 80px;
    padding: 0 2em;
  }
}

#nav-bar .logo {
  float: left;
  height: 60px;
  width: 60px;
}

@media (min-width: 768px) {
  #nav-bar .logo {
    height: 80px;
    width: 80px;
  }
}

#nav-bar .header {
  float: left;
  font-size: 185%;
  line-height: 60px;
  padding: 0 10px;
}

@media (min-width: 768px) {
  #nav-bar .header {
    font-size: 200%;
    line-height: 80px;
    padding: 0 10px;
  }
}

/*
 * usr-nav Style
 */
#usr-nav {
  background: #008771;
  color: #e8fdff;
  height: 40px;
  left: 0;
  padding: 0 2em;
  position: fixed;
  right: 0;
  top: 60px;
  z-index: 1100;
}

@media (min-width: 768px) {
  #usr-nav {
    background: transparent;
  }
}

/*COMPOSE BUTTON*/
.nav-btn {
  transform: translateY(-12px);
  margin: 12px 0px 0 0;
  float: right;
  position: relative;
  background-color: #008771;
  border: none;
  font-size: 1.35em;
  color: #FFFFFF;
  padding: 7px 20px;
  /*width: 120px;*/
  text-align: center;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

@media (min-width: 768px) {
  .nav-btn {
    transform: translateY(-60px);
    margin: 16px 12px 0 0;
    padding: 12px 20px;
    font-size: 1.25em;
  }
}

.nav-btn:hover {
  background-color: #00917a;
}

.nav-btn:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.nav-btn:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.nav-btn:focus {
  outline: 0;
}

#compose-btn {
  display: none;
}

#logout-btn {
  display: none;
}

/*
 * _new-tweet.scss partial
 */
#new-tweet {
  background: #eee;
  border-radius: 0.5em;
  border: 1px solid #cacaca;
  display: none;
  left: 0;
  margin: 4em 2em;
  position: relative;
  right: 0;
  top: 20px;
}

@media (min-width: 768px) {
  #new-tweet {
    margin: 4em 2em;
  }
}

#new-tweet form, #new-tweet h2 {
  margin: 0.5em 15px;
}

#new-tweet h2 {
  border-bottom: 2px solid #244751;
}

#new-tweet textarea {
  margin-bottom: 5px;
  padding: 0.5em;
  width: 100%;
}

#new-tweet input span {
  display: inline-block;
}

#new-tweet span {
  float: right;
}

#login-view, #register-view {
  background: white;
  display: none;
  left: 0;
  padding: 4em 6em;
  position: fixed;
  right: 0;
  z-index: 1000;
  box-shadow: 0px 0px 10px #888888;
}

#login-view a, #login-view i, #register-view a, #register-view i {
  float: right;
}

#login-view i, #register-view i {
  font-size: 200%;
  color: #eee;
  transform: translate(50px, -30px);
}

#login-view i:hover, #register-view i:hover {
  color: #555;
}

@media (min-width: 768px) {
  #login-view, #register-view {
    box-shadow: none;
    position: relative;
    margin: 0 0 4em 0;
    top: 20px;
  }
}
