#tweets{
  border-radius: .5em;
  border: 1px solid #cacaca;
  margin: 0 2em;
}
article.tweet header {
  background: #f3f3f3;
  border-radius: .5em .5em 0 0;
  height: 66px;
  line-height: 2em;
  padding: 8px;
}

article.tweet footer {
  border-radius: 0 0 .5em .5em;
  border-top: 1px solid #cacaca;
  font-size: .75em;
  line-height: 2em;
  padding-left: 10px;
}

.tweet i {
  color: #79c3b7;
  float: right;
  line-height: 2em;
  margin-right: 5px;
  visibility: hidden;
}
.tweet:hover i {
  visibility: visible;
}

.avatar {
  border-radius: .5em;
  float: left;
  height: 50px;
  width: 50px;
}

.user-handle {
  color: #9f9f9f;
  float: right;
  font-size: .9em;
  line-height: 3em;
}

.tweet main {
  height: 100px;
}

.tweet main p {
  margin: 0;
  padding: 0 10px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.tweet h2 {
  color: #6a7d84;
  display: inline-block;
  margin: 0 0 0 .5em;
  padding-top: 10px;
}